*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

nav{
    height: 80px;
    background: #fff;
    border-bottom: 2px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;

    .logo{
        font-size: 30px;
        font-weight: 600;
        color: #120366;
        cursor: pointer;
    }
}


.connect {
    position: relative;
    text-align: center;
    padding: 12px;
    margin-bottom: 6px;
    height: 40px;
    width: 120px;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover::before {
        width: 51%;
    }
    &:hover::after {
        width: 50%;
    }

    &:hover{
        span{
            bottom: 2px;
        }
    }

    span{
        position: relative;
        z-index: 1;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        bottom: 5px;
        text-transform: uppercase;
        transition: all .3s ease-in-out;
    }
  }
  .connect:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #120366;
    transform: skew(0deg, 6deg);
    transition: all .3s ease-in-out;
  }
  .connect:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: darkred;
    transform: skew(0deg, -6deg);
    transition: all .3s ease-in-out;
  }


  .content{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: calc( 100vh - 80px);
      padding: 0 5rem;

      img{
          width: 50%;
      }

      .main{
          width: 50%;
          align-self: flex-start;
          margin-top: 3rem;

          h1{
              text-transform: uppercase;
              color: #454545;
              margin: 2rem 0;

              span:nth-child(2){
                  color: #120366;
                  margin: 0 1rem;
              }
          }

          .buyBox{
              display: flex;
              align-items: center;
              margin-top: 12rem;

              #amount{
                  border: 1px solid gray;
                  font-size: 25px;
                  padding: .5rem 1rem;
                  margin-right: 2rem;
                  outline: none;
                  font-weight: 600;
                  color: #454545;
              }

              .buyToken{
                  width: 200px;

                  &:hover{
                    span{
                        bottom: 2px;
                    }
                  }
              }
          }
          p{
              font-size: 16px;
              margin-top: 0.2rem;
              color: red;
              text-transform: uppercase;
          }
      }
  }